@import '/css/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .resume-section-wrapper {
        @apply px-7 md:p-0 mt-4;
    };
    .resume-section-text {
        @apply mb-6 text-base font-extralight text-justify;
    }
}

